<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locationproject">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />      <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />    <!-- WIFI -->
    <uses-permission android:name="android.permission.INTERNET" />    <!-- Geocoder -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="READ_OWNER_DATA"/>
    <uses-permission android:name="WRITE_OWNER_DATA"/>
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 구글 플레이서비스 버전 체크 -->
        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version"
            />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>
