<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gcmproject">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!--화면이 꺼진 상태에서 킬 수 있는 퍼미션-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> <!--GCM 받는거-->
    <permission android:name="com.example.gcmproject.permission.C2D_MESSAGE"
        android:protectionLevel="signature" /> <!--현재 패키지명으로 -->
    <uses-permission android:name="com.example.gcmproject.permission.C2D_MESSAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcmproject" /> <!--내 패키지로-->
            </intent-filter>
        </receiver>
    </application>

</manifest>
